---
layout: default
---

<div class="content mt-1">
    {% for post in site.posts limit: 1%}
    <header class="post-header ps-2" style="padding-left:10px !important;">
        <h1 class="post-title" style="color:#51a33d !important;">{{ post.title }}</h1>
      </header>
      
      <span class="time ps-3">{{ post.date | date:"%Y-%m-%d %A" }}&nbsp;<span class="fs-6">&raquo;</span></span>
    <!-- <li><a href="{{ post.url }}">{{ post.title }}</a> <i><span class="float-end" style="font-size:9pt;">{{ post.date | date:"%Y-%m-%d" }}</span></i></li> -->
    <div class="post p-3 pt-0 mt-1">{{ post.content }}</div>
    <div class="PageNavigation w-100 ps-4 pe-4">
      {% if post.next.url %}
      <a class="prev" href="{{ post.next.url }}">
        <i class="fas fa-backward"></i>&nbsp;Prev
      </a>
      <!-- &laquo; {{ page.next.title }} -->
      {% endif %}
      {% if post.previous.url %}
        <a class="next float-end" href="{{ post.previous.url }}">      
          <i class="fas fa-forward"></i>&nbsp;Next
        </a>
        <!-- {{ page.previous.title }} &raquo; -->
      {% endif %}
    </div>
    {% endfor %}
</div>


